.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.mainHome {
  width: 100%;
  padding-left: 5%;

  display: flex;
  color: aliceblue;
  background: url(./component/image/background.svg);
  position: relative;
}

.progress-container {
  width: 100%;
  background-color: #f3efe6;
  height: 1vh;
  border-radius: 10px;
}

.progress-bar1,
.progress-bar2,
.progress-bar3,
.progress-bar4,
.progress-bar5 {
  height: 1vh;
  background-color: #61dafb;
  text-align: center;
  color: rgb(220, 63, 63);
  font-size: 16px;
  transition: width 0.3s ease;
  overflow: hidden;
  border-radius: 10px 0 0 10px;
}

/* .skill_left {

} */
.progress-bar2 {
  width: 85%;
}

.progress-bar3 {
  width: 70%;
}

.progress-bar4 {
  width: 90%;
}

.progress-bar5 {
  width: 70%;
}

@media(max-width:425px) {
  .skillmain {
    background: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
    width: 75%;
  }

  .skill_right {
    margin-top: 10%;

  }
}

.contactright {
  width: 50%;

  font-size: 2rem;
  padding: 5%;

}


/* .progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  text-align: center;
  transition: inherit;
} */

.right {
  width: 40%;
  padding-bottom: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  width: 60%;
}

.right {
  background: url(./component/image/leaves\ gif.gif);
}


.right img {
  width: 60%;
  margin-top: 7%;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  box-shadow: rgba(151, 204, 248, 0.25) 0px 54px 55px, rgba(151, 204, 248, 0.25) 0px -12px 30px, rgba(151, 204, 248, 0.25) 0px 4px 6px, rgba(151, 204, 248, 0.25) 0px 12px 13px, rgba(151, 204, 248, 0.25)0px -3px 5px;

}

.fh1:hover {
  color: chocolate;

}




.fh2:hover {
  color: rgb(6, 105, 138);
}

.air {
  height: 80px;
}

@keyframes wave {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: 200px;
  }
}

@keyframes wave2 {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: -200px;
  }
}

/* .mainHome {
  padding-bottom: 30%;
} */

.air.air4,
.air.air3 {
  bottom: 5px;
}

/* .fh1,
.fh2 {
  font-size: 1.9rem;
} */


.navlink:hover {
  box-shadow: 0 8px 8px -4px lightblue;
  transition: all 0.4s;
}

.icons i {
  cursor: pointer;
  font-size: 30px;
  width: fit-content;

}

.icons i :hover {
  box-shadow: 0 20px 20px -8 px lightblue;
  transition: all 0.4s;
}

.icons {
  display: flex;
  width: 100%;
  gap: 5%;

}

.about_main {
  display: flex;
}

.about_left {
  width: 50%;
  margin-top: 5%;
  padding: 0 10% 10% 10%;
}


.about_right {
  width: 50%;
  margin-top: 5%;

}

.about_right_h1 {
  padding: 20px;
  width: fit-content;
  border-bottom: #61dafb solid 3px;
}

/* .Education_main {
} */
.air {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
  background-size: 1000px 100px
}

.air.air1 {
  animation: wave 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
  margin-bottom: -5px
}

.air.air2 {
  animation: wave2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}

.air.air3 {
  animation: wave 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}

.air.air4 {
  animation: wave2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}

@keyframes wave {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: 1000px;
  }
}

@keyframes wave2 {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: -1000px;
  }
}



/* -- new code-- */

.left {
  margin-top: 7rem;
}

.fh1,
.fh2 {
  font-size: 4rem;
}

.fp1 {
  font-size: 1.2rem;
}

@media (max-width:1270px) {

  .fh1,
  .fh2 {
    font-size: 2rem;
  }

  .fp1 {
    font-size: 1rem;
  }

  .left {
    margin-bottom: 7rem;
  }

}

@media (max-width:476px) {
  .left {
    margin: 1rem;
    margin-bottom: 10rem;
  }

  .fh1,
  .fh2 {
    font-size: 1.3rem;
  }


  .right {
    display: none;
  }
}

.skillmain {
  display: flex;
  padding: 10%;
  width: 100%;
  justify-content: space-around;
  background: white;
  color: black;
}

.emailtext {
  font-size: 1.5rem;
  font-weight: 500
}

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}

body {

  font-family: 'Montserrat', sans-serif;

  margin: 0;
}

.progress {
  background-color: #d8d8d8;
  border-radius: 20px;
  position: relative;
  margin: 15px 0;
  height: 30px;
  width: 300px;
}

.progress-done {
  background: linear-gradient(to left, #F2709C, #FF9472);
  box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
  border-radius: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80%;
  opacity: 0;
  transition: 1s ease 0.3s;
}



.meter {
  height: 5px;
  position: relative;
  background: #f3efe6;
  z-index: 0;
  margin-top: -5px;
  overflow: hidden;
}

.meter>span {
  z-index: 50;
  display: block;
  height: 100%;
  background-color: #61dafb;
  position: relative;
  overflow: hidden;
}