.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.mainHome {
  width: 100%;
  padding-left: 5%;
  height: 85vh;
  display: flex;
  color: aliceblue;
  background: url(./component/image/background.svg);
}

.left,
.right {
  width: 50%;

}

.right {
  background: url(./component/image/leaves\ gif.gif);
}


.right img {
  width: 50%;
  margin-top: 7%;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  box-shadow: rgba(151, 204, 248, 0.25) 0px 54px 55px, rgba(151, 204, 248, 0.25) 0px -12px 30px, rgba(151, 204, 248, 0.25) 0px 4px 6px, rgba(151, 204, 248, 0.25) 0px 12px 13px, rgba(151, 204, 248, 0.25)0px -3px 5px;

}

.fh1:hover {
  color: chocolate;

}

.fh1,
.fh2 {
  transition: all 0.4s;
}

.fh2:hover {
  color: rgb(6, 105, 138);
}

.fp1 {
  font-size: 30px;
  font-weight: 300;
}

.navlink:hover {
  box-shadow: 0 8px 8px -4px lightblue;
  transition: all 0.4s;
}

.icons i {
  cursor: pointer;
  font-size: 30px;
  width: fit-content;

}

.icons i :hover {
  box-shadow: 0 20px 20px -8 px lightblue;
  transition: all 0.4s;
}

.icons {
  display: flex;
  width: 100%;
  gap: 5%;

}

.about_main {
  display: flex;
  background-image: url(./component/image/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.about_left {
  width: 50%;
  margin-top: 5%;
  padding: 0 10% 10% 10%;
}


.about_right {
  width: 50%;
  margin-top: 5%;
  color: white;

}

.about_right_h1 {
  padding: 20px;
  width: fit-content;
  border-bottom: #61dafb solid 3px;
}

.Education_main {
  background: url(./component/image/background.svg);
  color: white;
}

